<!doctype html>
<html>
<head>
  <title>{{ pokemon_data['name'] }}</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha3/css/bootstrap.min.css">
</head>
<body>
  {% extends 'base.html' %}
  {% block content %}
  <form method="POST" action="/catch/{{ pokemon_data['name'] }}">
    <input type="hidden" name="name" value="{{ pokemon_data['name'] }}">
    <div class="card pokemon-card"> 
      <div class="pokemon-image card__image-container"> 
        <img src="{{ pokemon_data['front_shiny'] }}" alt="{{ pokemon_data['name'] }}" height="500">
      </div>
      <div class="pokemon-info card__caption"> 
        <h2 class="pokemon-name card__name">{{ pokemon_data['name'] }}</h2> 
        <ul class="pokemon-stats card__stats"> 
          <li class="pokemon-stat card__label">Ability: {{ pokemon_data['ability'] }}</li>
          <li class="pokemon-stat card__label">HP: {{ pokemon_data['hp'] }}</li> 
          <li class="pokemon-stat card__label">Attack: {{ pokemon_data['attack'] }}</li> 
          <li class="pokemon-stat card__label">Defense: {{ pokemon_data['defense'] }}</li> 
        </ul>
        <button type="submit" class="btn btn-primary">Catch {{pokemon_data['name']}}</button> 
      </div>
    </div>
  </form>
  {% endblock %}
</body>
</html>
